OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=qwen3:8b
EMBEDDING_MODEL=ai-forever/ru-en-RoSBERTa
QDRANT_HOST=localhost
QDRANT_PORT=6333
LANGFUSE_SECRET_KEY="sk"
LANGFUSE_PUBLIC_KEY="pk-"
LANGFUSE_BASE_URL="http://localhost:3000"